.static {
    position: static;
    background-color: #00021a;
    color: #c8ff00;
    margin: 5px;
    padding: 10px;
    border: 5px solid #009b9b;
}

.relative {
    position: relative;
    left: 10px;
    top:40px;
    background-color: #00021a;
    color: #c8ff00;
    margin: 5px;
    padding: 10px;
    border: 5px solid #009b9b;
}

.absolute {
    position: absolute;
    top:80%;
    left: 10px;
    width: auto;
    height: auto;
    background-color: #00021a;
    color: #c8ff00;
    margin: 5px;
    padding: 10px;
    border: 5px solid #009b9b;
}

.fixed {
    position: fixed;
    top:100px;
    left: 0px;
    background-color: #00021a;
    color: #c8ff00;
    padding: 10px;
    width: 100%;
     border: 5px solid #009b9b;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding:5px;
    width: auto;
    height: auto;
    background-color:#00021a;
    color: #c8ff00;
    border: 5px solid #009b9b;

}

